<div class="main">
  <h2 class="title">TYPING TEST</h2>
  <h3>
    <span class="character" *ngFor="let char of sentence"
      [ngClass]="{'match': char.match === true, 'diff': char.match === false}">{{char.value}}</span>
  </h3>
  <input class="input" [value]="value" (input)="onTextInput($event)" />
  <div class="info" [style.visibility]="showInfo? 'visible' : 'hidden'">
    (The test starts as soon as you start typing the above sentence)</div>
  <button class="button" (click)="onRetryClick()">RETRY</button>
  <button class="button" (click)="onResetClick()">RESET</button>
  <h3 class="timer" [class.done]="allMatch">{{elapsed}}</h3>
</div>